<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--Json handler-->
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>servlets.GetAllUsers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlets.AddUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>servlets.SearchUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchByNameAndEmail</servlet-name>
        <url-pattern>/searchByNameEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchByNameAndEmail</servlet-name>
        <servlet-class>servlets.SearchByNameAndEmail</servlet-class>
    </servlet>

</web-app>